<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Callback</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/main.css') }}">
  </head>
  <body>
    <div class="header">
      <div class="row-start">
        <img src="{{ url_for('static', filename='images/DMDII-Gear-small.png') }}"></img>
        <h1><b>DMDII</b> Sign On</h1>
      </div>
      <a class="login-button" href="/signonservice/login">
        Log In
      </a>
    </div>
    <div class="container column">
      <h2>Success!</h2>
      <div>You are logged in as: <b>{{user_name}}</b>, Google ID <b>{{user_id}}</b></div>
    </div>
  </body>
</html>